body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}


h2, h3 {
  color: #181818; 
}

section#about {
  max-width: 800px;
  margin: 100px auto; 
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

p {
  line-height: 1.6;
  margin-bottom: 15px;
}

footer {
  text-align: center;
  padding: 10px 0;
  background-color: #000000;
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
}


.top-header, .navbar {
  transition: background-color 1s ease;
  width: calc(100% - 4px);
  margin: 2px;
}

.top-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
}

.top-header.active {
  background-color: #D0E9E9;
}

.contact-info {
  display: flex;
  align-items: center;
  color: #ffffff;
}

@media only screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 5px;
  }

  .navbar .nav-links a {
    font-size: 16px; 
  }

  .welcome h1 {
    font-size: 30px; 
  }

  .welcome p {
    font-size: 18px;
  }

  .social-media img {
    width: 15px; 
    height: 15px;
  }
}


.navbar {
  position: fixed;
  top: 40px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  z-index: 100;
}

.navbar.active {
  background-color: #D0E9E9;
}

.logo img {
  width: 200px; 
  height: auto;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-links li {
  position: relative;
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 10px 15px;
  transition: all 0.3s ease;
}

.nav-links a:hover {
  color: rgb(0, 0, 0);
  background-color: #f3f3f3;
  padding: 14px 20px;
  text-align: center;
  display: inline-block;
  text-decoration: underline;
  border-radius: 5px;
}

.dropdown {
  display: none;
  position: absolute;
  background-color: #000000;
  list-style: none;
  top: 100%;
  left: 0;
  padding: 10px 0;
  z-index: 200; 
  width: 150px; 
}

.dropdown li {
  margin: 0;
}

.dropdown li a {
  padding: 10px 20px;
  display: block;
}

.dropdown li a:hover {
  background-color: #ffcc00;
}

.menu-item:hover .dropdown {
  display: block; 
}


section {
  padding: 30px;
  margin-top: 60px;
  text-align: center;
}


.posts {
  display: flex; 
  justify-content: center; 
  flex-wrap: wrap; 
  gap: 20px; 
}

.post {
  background-color: #ffffff; 
  border-radius: 8px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
  padding: 15px;
  width: 300px; 
  text-align: left; 
  margin: 10px; 
}

.post img {
  width: 100%; 
  height: auto; 
  border-radius: 8px 8px 0 0; 
}

.post h4 {
  margin: 10px 0; 
}

.post p {
  font-size: 14px; 
}
